.custom-button {
  font-family: 'Inter';

  /* Couleur de fond */
  background-color: transparent;
  border: solid 2px #f0f0f0;
  /* Couleur du texte */
  color: #f0f0f0;
  /* Ombre */
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  /* Bordure (haut, droite, bas, gauche) */
  border-radius: 100px 50px 100px 50px;
  /* Transition fluide */
  transition: all 0.1s ease;
  /* Taille du texte */
  font-size: 18px;
  padding: 10px 25px;
}

.custom-button:hover {
  color: #8472fa;
  /* Inversion de la bordure au hover */
  border-radius: 50px 100px 50px 80px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.45);
  border: solid 2px #8978fb;

  /* Ombre plus grande au hover */
  /* Opacité au hover */
  opacity: 1;
  padding: 10px 25px;
}
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #f0f0f0;
}
